button {
  border: none;
  background-color: rgb(98, 97, 87);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(88, 119, 113);
}

.equals {
  grid-column: 3 / 5;
  background-color: #7b2215;
}

.equals:hover {
  background-color: rgb(155, 33, 17);
}
